In [ ]:
## 1) `requests` ใช้ส่ง url ## 2) `bs4` ใช้อ่านเวปที่ได้รับกลับมา

In [16]:
import http.cookiejar
import urllib.request
import requests
import bs4
import numpy as np
import pandas as pd

In [22]:
parturl = 'https://www.set.or.th/set/commonslookup.do'
url = parturl 
data = requests.get(url,verify=False) # ไปขอร้องเว็บ
soup = bs4.BeautifulSoup(data.text, 'html.parser') # นำ data ที่เก็บคำสั่งข้อร้องไปเว็บทำการแสดง text แล้ว เก็บในรูปแบบ html ด้วย method BeautifulSoup

C:\Users\boat0\anaconda3\lib\site-packages\urllib3\connectionpool.py:981: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.set.or.th'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

soup

ทำการ ค้นหา ป้ายชื่อ และใส่ attribute ไปด้วย

soup.find_all('tr',valign='top')

In [24]:
soup.find_all('tr',valign='top')[0]

<tr valign="top">
<td><a href="/set/companyprofile.do?symbol=A&amp;ssoPageId=4&amp;language=th&amp;country=TH" target="">A</a></td>
<td>บริษัท อารียา พรอพเพอร์ตี้ จำกัด (มหาชน)</td>
<td align="center" style="text-align: center;">SET</td>
</tr>

In [26]:
soup.find_all('tr',valign='top')[0].get_text()

'\nA\nบริษัท อารียา พรอพเพอร์ตี้ จำกัด (มหาชน)\nSET\n'

In [27]:
soup.find_all('tr',valign='top')[0].get_text().split('\n')

['', 'A', 'บริษัท อารียา พรอพเพอร์ตี้ จำกัด (มหาชน)', 'SET', '']

In [28]:
soup.find_all('tr',valign='top')[0].get_text().split('\n')[2]

'บริษัท อารียา พรอพเพอร์ตี้ จำกัด (มหาชน)'

In [30]:
setList = []
for tr in soup.find_all('tr',valign='top'):
    setList.append(tr.get_text().split('\n')[2])
setList

['บริษัท อารียา พรอพเพอร์ตี้ จำกัด (มหาชน)',
 'บริษัท แอสเซท ไฟว์ กรุ๊ป จำกัด (มหาชน)',
 'บริษัท เอเชีย เอวิเอชั่น จำกัด (มหาชน)',
 'บริษัท เอบิโก้ โฮลดิ้งส์ จำกัด (มหาชน)',
 'บริษัท เอเชีย ไบโอแมส จำกัด (มหาชน)',
 'กองทุนรวมโครงสร้างพื้นฐานโรงไฟฟ้า อมตะ บี.กริม เพาเวอร์',
 'บริษัท เอเชีย แคปปิตอล กรุ๊ป จำกัด (มหาชน)',
 'บริษัท แอดวานซ์ คอนเนคชั่น คอร์ปอเรชั่น จำกัด (มหาชน)',
 'บริษัท แอ๊บโซลูท คลีน เอ็นเนอร์จี้ จำกัด (มหาชน)',
 'บริษัท ออโตคอร์ป โฮลดิ้ง จำกัด (มหาชน)',
 'บริษัท แอ็พพลาย ดีบี จำกัด (มหาชน)',
 'บริษัท แอดวานซ์ อินโฟร์ เซอร์วิส จำกัด (มหาชน)',
 'บริษัทหลักทรัพย์ เออีซี จำกัด (มหาชน)',
 'บริษัท อิออน ธนสินทรัพย์ (ไทยแลนด์) จำกัด (มหาชน)',
 'บริษัท ไอร่า แฟคตอริ่ง จำกัด (มหาชน)',
 'บริษัท เอเซียไฟเบอร์ จำกัด (มหาชน)',
 'บริษัท เอเชีย กรีน เอนเนอจี จำกัด (มหาชน)',
 'บริษัท อาปิโก ไฮเทค จำกัด (มหาชน)',
 'บริษัท โรงพยาบาลเอกชล จำกัด (มหาชน)',
 'บริษัท เอเชียน อินซูเลเตอร์ จำกัด (มหาชน)',
 'บริษัท เอไอ เอนเนอร์จี จำกัด (มหาชน)',
 'ทรัสต์เพื่อการลงทุนในอสังหาริมทรัพย์และสิทธิการเช่าอสังหาริมทรัพย์ เอไอเอ็ม คอมเมอร์เชียล โกรท',
 'ทรัสต์เพื่อการลงทุนในอสังหาริมทรัพย์และสิทธิการเช่าอสังหาริมทรัพย์ เอไอเอ็ม อินดัสเทรียล โกรท',
 'บริษัท ไอร่า แคปปิตอล จำกัด (มหาชน)',
 'บริษัท แอ็ดวานซ์ อินฟอร์เมชั่น เทคโนโลยี จำกัด (มหาชน)',
 'บริษัท เอ.เจ.พลาสท์ จำกัด (มหาชน)',
 'บริษัท เอเจ แอดวานซ์ เทคโนโลยี จำกัด (มหาชน)',
 'บริษัท อัคคีปราการ จำกัด (มหาชน)',
 'บริษัท เอกรัฐวิศวกรรม จำกัด (มหาชน)',
 'บริษัท ออลล์ อินสไปร์ ดีเวลลอปเม้นท์ จำกัด (มหาชน)',
 'บริษัท ออลล่า จำกัด (มหาชน)',
 'บริษัท เอแอลที เทเลคอม จำกัด (มหาชน)',
 'บริษัท อลูคอน จำกัด (มหาชน)',
 'บริษัท อาม่า มารีน จำกัด (มหาชน)',
 'บริษัท อะมานะฮ์ ลิสซิ่ง จำกัด (มหาชน)',
 'บริษัท อมรินทร์พริ้นติ้ง แอนด์ พับลิชชิ่ง จำกัด (มหาชน)',
 'บริษัท อมตะ คอร์ปอเรชัน จำกัด (มหาชน)',
 'ทรัสต์เพื่อการลงทุนในอสังหาริมทรัพย์และสิทธิการเช่าอมตะซัมมิทโกรท',
 'บริษัท อมตะ วีเอ็น จำกัด (มหาชน)',
 'บริษัท เอเซีย เมทัล จำกัด (มหาชน)',
 'บริษัท อนันดา ดีเวลลอปเม้นท์ จำกัด (มหาชน)',
 'บริษัท ท่าอากาศยานไทย จำกัด (มหาชน)',
 'บริษัท เอพี (ไทยแลนด์) จำกัด (มหาชน)',
 'บริษัท เอเชียน ไฟย์โตซูติคอลส์ จำกัด (มหาชน)',
 'บริษัท เอเซีย พรีซิชั่น จำกัด (มหาชน)',
 'บริษัท เอเพ็กซ์ ดีเวลลอปเม้นท์ จำกัด (มหาชน)',
 'บริษัท แอพพลิแคด จำกัด (มหาชน)',
 'บริษัท อกริเพียว โฮลดิ้งส์ จำกัด (มหาชน)',
 'บริษัท เอคิว เอสเตท จำกัด (มหาชน)',
 'บริษัท อควา คอร์เปอเรชั่น จำกัด (มหาชน)',
 'บริษัท อรินสิริ แลนด์ จำกัด (มหาชน)',
 'บริษัท เออาร์ไอพี จำกัด (มหาชน)',
 'บริษัท แอร์โรว์ ซินดิเคท จำกัด (มหาชน)',
 'บริษัท เอเชียซอฟท์ คอร์ปอเรชั่น จำกัด (มหาชน)',
 'บริษัท ซินเนอร์เจติค ออโต้ เพอร์ฟอร์มานซ์ จำกัด (มหาชน)',
 'บริษัท อาซีฟา จำกัด (มหาชน)',
 'บริษัท เอเชียโฮเต็ล จำกัด (มหาชน)',
 'บริษัท เอเชี่ยนซี คอร์ปอเรชั่น จำกัด (มหาชน)',
 'บริษัท เอเชียน มารีน เซอร์วิสส์ จำกัด (มหาชน)',
 'บริษัท เอเซียเสริมกิจลีสซิ่ง จำกัด (มหาชน)',
 'บริษัท เอเอสเอ็น โบรกเกอร์ จำกัด (มหาชน)',
 'บริษัท เอเซีย พลัส กรุ๊ป โฮลดิ้งส์ จำกัด (มหาชน)',
 'บริษัท เอทีพี 30 จำกัด (มหาชน)',
 'บริษัท อาฟเตอร์ ยู จำกัด (มหาชน)',
 'บริษัท สหการประมูล จำกัด (มหาชน)',
 'บริษัท แอสเสท เวิรด์ คอร์ป จำกัด (มหาชน)',
 'บริษัท อลิอันซ์ อยุธยา แคปปิตอล จำกัด (มหาชน)']

In [32]:
table = pd.DataFrame(setList)

In [34]:
table

                                                0
0        บริษัท อารียา พรอพเพอร์ตี้ จำกัด (มหาชน)
1          บริษัท แอสเซท ไฟว์ กรุ๊ป จำกัด (มหาชน)
2          บริษัท เอเชีย เอวิเอชั่น จำกัด (มหาชน)
3          บริษัท เอบิโก้ โฮลดิ้งส์ จำกัด (มหาชน)
4             บริษัท เอเชีย ไบโอแมส จำกัด (มหาชน)
..                                            ...
62                 บริษัท เอทีพี 30 จำกัด (มหาชน)
63               บริษัท อาฟเตอร์ ยู จำกัด (มหาชน)
64               บริษัท สหการประมูล จำกัด (มหาชน)
65       บริษัท แอสเสท เวิรด์ คอร์ป จำกัด (มหาชน)
66  บริษัท อลิอันซ์ อยุธยา แคปปิตอล จำกัด (มหาชน)

[67 rows x 1 columns]

In [33]:
writer = pd.ExcelWriter('setList.xlsx')
table.to_excel(writer,'Report')
writer.save()

In [35]:
titleList = []
for tr in soup.find_all('tr',valign='top'):
    titleList.append(tr.get_text().split('\n')[1])
titleList

['A',
 'A5',
 'AAV',
 'ABICO',
 'ABM',
 'ABPIF',
 'ACAP',
 'ACC',
 'ACE',
 'ACG',
 'ADB',
 'ADVANC',
 'AEC',
 'AEONTS',
 'AF',
 'AFC',
 'AGE',
 'AH',
 'AHC',
 'AI',
 'AIE',
 'AIMCG',
 'AIMIRT',
 'AIRA',
 'AIT',
 'AJ',
 'AJA',
 'AKP',
 'AKR',
 'ALL',
 'ALLA',
 'ALT',
 'ALUCON',
 'AMA',
 'AMANAH',
 'AMARIN',
 'AMATA',
 'AMATAR',
 'AMATAV',
 'AMC',
 'ANAN',
 'AOT',
 'AP',
 'APCO',
 'APCS',
 'APEX',
 'APP',
 'APURE',
 'AQ',
 'AQUA',
 'ARIN',
 'ARIP',
 'ARROW',
 'AS',
 'ASAP',
 'ASEFA',
 'ASIA',
 'ASIAN',
 'ASIMAR',
 'ASK',
 'ASN',
 'ASP',
 'ATP30',
 'AU',
 'AUCT',
 'AWC',
 'AYUD']

In [38]:
pd.DataFrame(data=[setList,titleList]).transpose().set_index(0)

                                                   1
0
บริษัท อารียา พรอพเพอร์ตี้ จำกัด (มหาชน)           A
บริษัท แอสเซท ไฟว์ กรุ๊ป จำกัด (มหาชน)            A5
บริษัท เอเชีย เอวิเอชั่น จำกัด (มหาชน)           AAV
บริษัท เอบิโก้ โฮลดิ้งส์ จำกัด (มหาชน)         ABICO
บริษัท เอเชีย ไบโอแมส จำกัด (มหาชน)              ABM
...                                              ...
บริษัท เอทีพี 30 จำกัด (มหาชน)                 ATP30
บริษัท อาฟเตอร์ ยู จำกัด (มหาชน)                  AU
บริษัท สหการประมูล จำกัด (มหาชน)                AUCT
บริษัท แอสเสท เวิรด์ คอร์ป จำกัด (มหาชน)         AWC
บริษัท อลิอันซ์ อยุธยา แคปปิตอล จำกัด (มหาชน)   AYUD

[67 rows x 1 columns]

tip ถ้า find_all() แล้วทำกับ class มันจะขึ้นเขียวใช้ไม่ได้ ต้องเติม class_ ถึงจะใช้ได้
ใช้ split()[] ได้ ex 1,600,000
ใช้ split(,) จะได้ ['1','600','000']
ใช้ ''.join('1,600,000'.split(',')) ได้ string มา แล้วเปลี่ยนเป็น textt ได้

In [39]:
''.join('1,600,000'.split(','))

'1600000'

ถ้าใช้ find_all() หาได้ html มา แล้วยังหาไม่เจออีกใช้ .find('tag') ต่อได้