Pandas
โครงสร้าง
1). series เหมือน array 1 มิติ โดยต่างจาก array ที่เรียก index ว่า label
            โดยจะแสดง index และ data
2). dataframe เหมือน array 2 มิติ โดย มี column ตั่งแต่ 2 ขึ้นไป ซึ่งแต่ละ dataframe แตกเป็น series ได้ หรือนำ series หลายๆตัวมาประกอบเป็น dataframe ได้
            โดยจะมีการตั่งชื่อให้ column หรือ หัวข้อ
3). panel เหมือน array 3 มิติ โดยจะมีแผ่น dataframe ซ้อนๆกัน ประกอบด้วย 3 แกน
    items axis 0 คือ dataframe แต่ละชั้น
    major_axis: axis 1 คือ index หรือ row แต่ละ dataframes
    minor_axis: axis 2 คือ column ของแต่ละ dataframes

Example SERIES

In [1]:
import pandas as pd
dataPD = pd.Series([12,13.5,"tt"]) # pd.series((12,13.5,"tt"))
dataPD

0      12
1    13.5
2      tt
dtype: object

numpy รวมร่างกับ series

In [2]:
import numpy as np
dataNP = np.array([1,2,3])
dataPDwNP = pd.Series(dataNP)
dataPDwNP

0    1
1    2
2    3
dtype: int32

กำหนด index ของ series เอง

In [3]:
indexPD = pd.Series([12,13.5,"tt"],index=["เลข",2,3])
indexPD

เลข      12
2      13.5
3        tt
dtype: object

ใช้ dictionary ใส่ series โดย key จะแทน index ส่วน value แทน data ใน column

การเรียกใช้ series แทนได้ 2 แบบ
    1).ใช้ index
    2).ใช้ชื่อ index

In [4]:
dataDic = {"name":"มนัญชัย","อายุ":22}
dataPDwDIC = pd.Series(dataDic)
print(dataPDwDIC[0])
dataPDwDIC["name"]

มนัญชัย

'มนัญชัย'

ใช้ slice ในการใช้ข้อมูล หลักการ ตั่งแต่ ไม่เกิน

In [5]:
dataPDwDIC[1:len(dataPDwDIC)]

อายุ    22
dtype: object

Example DATAFRAME

รู้จัก zip คือการ รวม list

In [6]:
age = [12,14,16]
name = ["boat","jame","ton"]
keyW = ["ชื่อ","อายุ"]
dataFRAME = pd.DataFrame(zip(name,age),columns=keyW)
dataFRAME

   ชื่อ  อายุ
0  boat    12
1  jame    14
2   ton    16

นำ series ของ dataframe มาแสดง index ข้างหน้า

In [7]:
dataFRAME.set_index(['ชื่อ'],inplace=True)
dataFRAME

      อายุ
ชื่อ
boat    12
jame    14
ton     16

การใช้ dictionary สร้าง dataframes

In [8]:
dc = [{'name':'โจ้วๆ','age':17},
     {'name':'โจ้วๆ','age':17},
     {'name':'โจ้วๆ','age':17},
     {'name':'โจ้วๆ','age':17},]
dataFwDC = pd.DataFrame(dc)
dataFwDC

    name  age
0  โจ้วๆ   17
1  โจ้วๆ   17
2  โจ้วๆ   17
3  โจ้วๆ   17

นำ series สร้าง dataframes

In [9]:
name_series = pd.Series(['ไอจอน','ไอดิน'])
age_series = pd.Series([18,23])
frame = {'Name':name_series,
         'Age':age_series}
dataFwS_to_Dic = pd.DataFrame(frame)
dataFwS_to_Dic

    Name  Age
0  ไอจอน   18
1  ไอดิน   23

ทำ series เป็น dataframe แล้วตั่งชื่อ

In [19]:
df = name_series.to_frame()
df = name_series.to_frame(name='StudentName')
df

  StudentName
0       ไอจอน
1       ไอดิน

In [ ]:
dataframe to csv คั่นด้วย ,

parameter: header T/F หัวข้อบรรทัดแรก,index T/F เลขข้างหน้า,index_label กำกับหัว index

In [30]:
filepath = 'data/mydata01.csv'
df.to_csv(filepath)

In [24]:
df.to_csv(filepath, index_label='id')

In [25]:
df.to_csv(filepath, index = False)

In [32]:
df.to_csv(filepath, index=False,header=False)

ใช้ csv เร็วกว่า excel ถ้าข้อมูลเยอะ

**ติดตั่ง lib บันทึก excel conda install openpyxl

In [33]:
filepath = 'data/myfile.xlsx'
writer = pd.ExcelWriter(filepath)
dataFwS_to_Dic.to_excel(writer, 'Sheet1', index=False)
writer.save()

csv เอาบาง column

In [36]:
url = 'data/myfile.xlsx' #เอาจากเว็บได้
dfColumn = pd.read_excel(url)
cols = ['Age']
dfColumn.to_csv('data/dfColumn.csv', index=False, columns=cols)

จาก pd.read_excel(path)  อ่านไฟล์ทั้งหมดทุก column

In [37]:
dfColumn

    Name    Age
0  ไอจอน     18
1  ไอดิน  โย่วๆ

In [40]:
dfColumn = pd.read_excel(url, index_col='Age') # กำหนดชื่อ index
dfColumn

        Name
Age
18     ไอจอน
โย่วๆ  ไอดิน

ใช้ dfColumn.head() , dfColumn.tail() เพื่อดูต้นแถว 5ตัว หรือ ท้ายแถว 5ตัวได้

สมมุติ
df = pd.read_excel(url,sheet_name='My...', usecols=[0,2,3]หรือ'a,c:d', header=3, index_col='Name') # ใส่ names = data list เพื่อเปลี่ยนชื่อ column
sheet_name คือเอา sheet ไหน ,usecols คือ เลือก column ที่จะใช้ , header คือ ข้ามแถว , index_col คือ ตั่งชื่อ index ตรง column
df.loc['...'] # [ใส่ชื่อ data of column]
df.sort_index() # sort ตัว index

df.Column หรือ df.Column ได้ data โดยเหมือน javascript array เลย

tip. เวลา to_excel ถ้าไม่มีหัว header ให้ระบุ แล้วใส่ names = data list เพื่อเติม column

อ่านไฟล์ csv
df = pd.read_csv(url, encoding='utf-8')
กำหนด index_col
df = pd.read_csv(url, index_col='Name')
อ่านข้อมูลบางแถว
df ..... ใช้ usecols= list
อ่านไฟล์ไม่มี header
df ...... header=None,names= datalist คือเพิ่มหัว column มา , index_col='...' กำหนด column ที่จะเป็น index

ตรวจสอบข้อมูล
DataFrame.head(10) แถวบน 10ตัว
DataFrame.sampple(n) สุ่ม
DataFrame.describe() ดูสถิติเบื่องต้น...
DataFrame.shape() ดู row and column